layout: page
title: "templates.css"
permalink: /templates.css

/* _Compact_template */

p {

    margin: 1em 0;

}

 

.opt {

    padding: 10px;

    font-family: sans-serif;

}

 

.opt__header,

.opt__footer {

    display: flex;

    justify-content: space-between;

    margin-bottom: 1em;

}

 

.opt__order-data {

    width: 60%;

}

 

.opt__order-data h3,

.opt__order-data h2 {

    margin-top: 0;

    margin-bottom: 1em;

}

 

.opt__header .opt__logo {

    width: 40%;

  
   float:right


    text-align: right;

}

 

.opt__header .opt__logo img {

    max-width: 300px;

    width: 200px;

    height: auto;

}

 

.divTable .opt__line-item {

    display: flex;

    align-items: center;

}

 

.divTable .opt__line-item .opt__line-item--img img {

    width: 40px;

    margin-right: 1em;

}

 

.opt__footer {

    margin-top: 1em;

}

 

.opt__shop-data {

    width: 60%;

}

 

.opt__order-summary {

    width: 40%;

    text-align: right;

}

 

.opt__order-summary .divTableCell {

    border-bottom: none;

}

 

.opt__end {

    display: flex;

    justify-content: space-between;

}

 

.opt__end .signature-placeholder {

    margin-top: 6em;

    width: 30%;

    text-align: center;

}

 

.opt__end .signature-placeholder span {

    display: block;

    border-top: 1px solid black;

    width: 100%;

}
